body {
  background-color: #ebd8d9;

}

@font-face {
    font-family: 'robotoblack';
    src: url('webfontkit-20210211-231307/roboto-black-webfont.woff2') format('woff2'),
         url('webfontkit-20210211-231307/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'robotothin';
    src: url('webfontkit-20210211-231307/roboto-thin-webfont.woff2') format('woff2'),
         url('webfontkit-20210211-231307/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;


}
@font-face {
    font-family: 'robotoblack_italic';
    src: url('webfontkit-20210211-231307/roboto-blackitalic-webfont.woff2') format('woff2'),
         url('webfontkit-20210211-231307/roboto-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'robotothin_italic';
    src: url('webfontkit-20210211-231307/roboto-thinitalic-webfont.woff2') format('woff2'),
         url('webfontkit-20210211-231307/roboto-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lambresiaregular';
    src: url('webfontkit-20210211-231938/lambresia-webfont.woff2') format('woff2'),
         url('webfontkit-20210211-231938/lambresia-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;


}



.intro-block {
  font-family: 'lambresiaregular';
  text-align:center
  font-size:50px;
  position: fixed;
  padding-top:60px;
  padding-left:238px;
  color:#BB888B;
  text-decoration:overline; 

 }

 .quote {
  font-family: 'robotoblack_italic';
  text-align:center;
  font-size:20px;
  position:fixed;
  padding-top: 190px;
  padding-left: 180px;
  padding-right:160px;
  color:#8B3A62;


  }	

.headings {
  font-family: 'robotoblack';
  text-align:center
  font-size: 100px;
  position: fixed;
  padding-top:270px;
  padding-left:230px;
  color:#BB888B;
  text-decoration:overline;
 }

 .headings2 {
  font-family: 'robotoblack';
  text-align:center
  font-size: 100px;
  position: fixed;
  padding-top:530px;
  padding-left:230px;
  color:#BB888B;
  text-decoration:overline;

 }

.text {
  font-family: 'robotothin';
  text-align:center
  font-size: 70px;
  position: fixed;
  padding-top: 335px;
  padding-right: 0px;
  padding-left: 230px;
  color:#8B3A62;
  line-height:20pt;
  letter-spacing:1pt;
}

.text2 {
  font-family: 'robotothin';	
  text-align:center
  font-size: 70px;
  position: fixed;
  padding-top: 600px;
  padding-right: 200px;
  padding-left: 210px;
  color:#8B3A62;
  line-height:20pt;
  letter-spacing:1pt;


}


.last-step {
  font-family: 'robotothin_italic';
  text-align:center
  font-size:50px;
  position: fixed;
  padding-top: 0px;
  padding-right: 0px;
  padding-left:0px;


}


#gnocchi {
  padding-left:150px;
  padding-top: 200px
}



img {
  opacity: 0.05;
}

img:hover {
  opacity: 0.4;

}


	